# folders
/**/.vscode
/**/.ipynb_checkpoints
/**/data
/**/dataset
/**/text
/**/__pycache__
/**/pdf
/**/ppt
/**/chromedriver
# /**/images
# /**/videos
/**/MNIST_data
/**/pre-trained
/**/model
/**/projects

# filename extension
*.txt
# *.jpg
# *.png
# *.bmp
*.mp4
*.avi
*.pdf
*.pptx
*.csv
*.xlsx
*.pkl
*.xml
*.yml
*.names
*.exe
*.pb
*.h5
*.gz
*.caffemodel


# projects
/00_projects

# basic_notion


# computervision
02_computervision/recipes/detection/devkits
02_computervision/recipes/Detection/yolov3/
02_computervision/recipes/Detection/yolov3_tf2/
02_computervision/recipes/Detection/yolov5/
02_computervision/framework/pytorch/fastbook-master
02_computervision/framework/pytorch/first_step_for_pytorch

# machine_learning
/03_machine_learning/lecture
/03_machine_learning/handson

# deep_learning
/04_deep_learning/lecture
/04_deep_learning/frameworks

# web_programming
/05_web_programming/project/covid_19

# robotic_process_automation


# visualization
/08_visualization

# graphic_user_interface


# pygame


# hacking
/11_hacking

# kalman_filter
/12_kalman_filter

# etc


# exception


