/**/.ipynb_checkpoints

.vscode

/**/data
/**/dataset
/**/images
/**/text
/**/__pycache__
/**/pdf
/**/ppt
/**/chromedriver

*.txt
*.jpg
*.png
*.bmp
*.mp4
*.avi
*.pdf
*.pptx
*.csv
*.xlsx
*.pkl
*.xml
*.yml
*.names
*.exe
*.pb

# basic_notion


# computer_vision
# /computer_vision/lecture/ch08/digits
# /computer_vision/lecture/ch12/googlenet
# /computer_vision/lecture/ch13/EAST
# /computer_vision/lecture/ch13/face_rec/train_images
# /computer_vision/lecture/ch13/mask_rcnn
# /computer_vision/lecture/ch13/opencv_face_detector
# /computer_vision/lecture/ch13/openpose
# /computer_vision/lecture/ch13/yolo_v3

# deep_learning
/deep_learning/lecture
/deep_learning/frameworks

# etc
/etc

# graphic_user_interface

# hacking
/hacking

# kalman_filter
/kalman_filter

# machine_learning
/machine_learning/lecture
/machine_learning/handson

# numpy


# pandas


# projects
/projects

# pygame


# robotic_process_automation


# visualization
/visualization

# web_programming
/web_programming/project/covid_19

# exception
!/basic_notion/images/
/basic_notion/images/*
!/basic_notion/images/function_terms.png